<section class="container app-section">

    <header class="app-section-header">
        <h1 class="app-section-title">Search</h1>
    </header>

    <div class="row">

        <div class="form-group col-xs-6">
            <label class="form-label">terms</label>
            <div class="search-terms" app-search-terms ng-model="terms" on-search="onSearch(terms)" focus-on="{{focus}}"></div>
        </div>

        <div class="form-group col-xs-6">
            <div class="action">
                <label class="form-label">&nbsp;</label>
                <button class="btn" ng-click="onSearch()">
                    <i class="icon fa fa-search"></i>
                </button>
            </div>
        </div>

    </div>

</section>
