.app-project-details {
    .clearfix();

    .data-group {
        font-family: @ff-data;
    }

    .data-label {
        display: none;
        margin: 0;
    }

    .data-group.tags {
        margin-bottom: 0.75rem;
    }

    .description {
        font-size: 0.9rem;
        margin-bottom: 1.25rem;
    }

    .data-group.version {
        float: left;
        font-size: 0.9rem;
        line-height: 2.1;

        .data-label {
            display: inline-block;
            padding-right: 0.5rem;
            font-size: 1rem;
            font-weight: normal;
            color: @color-fg-low-grey;
        }
    }

    .data-group.assets {
        text-align: right;

        .app-project-asset {
            padding-left: 1rem;
        }

        .icon {
            width: auto;
            text-align: right;
            margin-right: 0.25rem;
        }
    }
}