
// -- header

.site-pre-header {
    position: fixed;
    z-index: @layer-pre-header;
    width: 100%;
}

.site-header {

    z-index: @layer-header;
    width: 100%;
    font-size: @header-base-size;
    line-height: 1.5em;
    background-color: @color-bg-header-main;
    border-top: @header-border-width solid @color-bg-header-top;
    border-bottom: @header-border-width solid @color-bg-header-bottom;
    .clearfix();

    .container {
        height: 1.5em;
        position: relative;
        .clearfix();
    }

    // -- title

    .site-title {
        float: left;
        margin: 0.25em 0 0 0;
        font-size: 1em;
        font-family: @ff-brand;

        a {
            display: block;
            overflow: hidden;
        }

        a, a:visited {
            color: rgba(255, 255, 255, 0.85);
            text-decoration: none;
        }
        a:focus {
            .outline();
        }
        a:focus, a:hover {
            color: white;
            .title-logo {
                color: white;
            }
        }
    }

    .title-logo {
        display: block;
        float: left;
        width: 1em;
        height: 1em;
        border: 3px solid transparent; // solves background clipping
        background: url(assets/images/cork-labs-320x320.png) no-repeat 0 0;
        background-size: cover;
    }

    .title-text {
        float: left;
        padding-left: 0.25em;
        line-height: 2em;
        font-size: 0.5em;
        font-weight: normal;
    }
}

// -- responsive

.site-header {

    .title-text {
        display: none;
    }
}

@media (max-width: @screen-nano-max) {
}

@media (min-width: @screen-xs-min) {

    .site-header {
        font-size: @header-base-size-xs-min;
        border-top-width: @header-border-width-xs-min;
        border-bottom-width: @header-border-width-xs-min;

        .title-text {
            display: initial;
        }
    }
}

@media (min-width: @screen-sm-min) {

    .site-header {
        font-size: @header-base-size-sm-min;
        border-top-width: @header-border-width-sm-min;
        border-bottom-width: @header-border-width-sm-min;
    }
}

@media (min-width: @screen-md-min) {

    .site-header {
        font-size: @header-base-size-md-min;
        border-top-width: @header-border-width-md-min;
        border-bottom-width: @header-border-width-md-min;
    }
}

@media (min-width: @screen-lg-min) {

    .site-header {
        font-size: @header-base-size-lg-min;
        border-top-width: @header-border-width-lg-min;
        border-bottom-width: @header-border-width-lg-min;
    }
}