<ng-form name="project-edit" class="form-project-edit">

    <div class="form-group form-header">

        <div class="container">

            <h1 class="form-title has-icon">
                <i class="icon fa fa-pencil"></i>
                <span class="text" ng-bind="project.name"></span>
            </h1>

            <div class="form-actions">

                <button tab-index="0" title="cancel changes and return to project" class="form-action btn-clean" ng-click="editProject.cancel()">
                    <span class="icon fa fa-times"></span>
                </button>

                <button tab-index="0" title="save project" class="form-action btn" ng-click="editProject.save()">
                    <span class="icon fa fa-check"></span>
                </button>

            </div>
        </div>

    </div>

    <section class="form-fields container">

        <div class="form-group name">
            <label class="form-label" for="project-edit-name">Name</label>
            <input class="form-control" type="text" ng-model="project.name" id="project-edit-name" />
        </div>

        <div class="form-group tags">
            <label class="form-label" for="project-edit-tags">Tags</label>
            <div cork-input-tags ng-model="project.tags" cork-options="tagsOptions" cork-id="project-edit-tags" cork-placeholder="Ex: AngularJS"></div>
        </div>

        <div class="form-group assets">
            <label class="form-label">Assets</label>
            <div app-project-assets-edit="project"></div>
        </div>

        <!-- @todo editing versions should be only atomic operations (in its own form, maybe)-->
        <div class="form-group versions" ng-class="{'has-error': versionsParseError}">
            <label class="form-label" for="project-edit-versions">Versions</label>
            <textarea class="form-control" ng-model="versionsJSON" id="project-edit-versions"></textarea>
            <div class="form-error" ng-if="versionsParseError">Invalid JSON</div>
            <div class="version" ng-repeat="version in versions">
                <button ng-if="project.currentVersion.tag !== version.tag" class="btn-clean" ng-click="editProject.setCurrentVersion(version.tag)"><i class="icon fa fa-circle-o"></i></button>
                <span ng-if="project.currentVersion.tag === version.tag" class="btn-clean is-disabled"><i class="icon fa fa-dot-circle-o"></i></span>
                <button class="btn btn-default" ng-click="editProject.buildVersion(version.tag)"><i class="icon fa fa-upload"></i></button>
                <span class="tag" ng-bind="version.tag"></span>
                <span class="date" ng-bind="version.date"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label" for="project-edit-description">Description</label>
            <div cork-input-marked ng-model="project.description" cork-modes="['edit', 'split']" cork-id="project-edit-description" cork-placeholder="'### Lorem Ipsum'"></div>
        </div>

        <div class="form-group">
            <label class="form-label" for="project-edit-readme">Readme</label>
            <div cork-input-marked ng-model="project.readme" cork-modes="['edit', 'split']" cork-id="project-edit-readme" cork-placeholder="'### Lorem Ipsum'"></div>
        </div>

    </section>

</ng-form>
