<section class="app-section section-search section-project-search" ng-class="{'is-pristine': searchProjects.isPristine, 'is-initialized': !searchProjects.isPristine}">

    <header class="app-section-header">
        <div class="container">
            <div class="row search" ng-if="terms">

                <h1 class="app-section-title col-sm-2">Search</h1>

                <div class="search-form col-sm-10">
                    <div class="row">

                        <div class="form-group terms col-sm-6">
                            <label class="form-label">terms</label>
                            <div class="search-terms" app-search-terms ng-model="terms" on-search="searchProjects.onSearch(terms)" min-length="2" focus-on="{{searchProjects.focus}}"></div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group tags">
                                <label class="form-label">tags</label>
                                <div cork-input-tags ng-model="searchProjects.tags" cork-options="searchProjects.tagsOptions"></div>
                            </div>

                            <div class="action">
                                <label class="form-label">&nbsp;</label>
                                <button class="btn">
                                    <i class="icon fa fa-search"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
            <div class="tag" ng-if="tag && !terms">

                <h1 class="app-section-title">Tag {{tag}}</h1>

            </div>
        </div>

    </header>

    <header class="app-section-sub-header tag-filter" ng-class="{'has-tags': searchProjects.tags.length}">
        <div class="container">
            <div class="row">

                <div class="col-sm-2"></div>

                <div class="form-group col-sm-10">
                    <div cork-input-tags-tags ng-model="searchProjects.tags" cork-options="searchProjects.tagsOptions"></div>
                </div>

            </div>
        </div>
    </header>

    <div class="container">

        <div app-loader="listProjects.loading"></div>

        <div app-project-list="projects" on-click="searchProjects.view" ng-if="!searchProjects.loading && projects.length"></div>

        <div ng-cloak ng-if="!searchProjects.isPristine && !searchProjects.loading && !projects.length">
            no results!
        </div>

    </div>

</section>
