.nav-search {
    display: inline-block;
    height: 2.5em;

    .nav-item {
        padding-left: 0;
        padding-right: 0;
        cursor: pointer;
/*
        // force line-height to be calculated with same font as links
        &::before {
            content: " ";
        }*/
    }

    .icon {
        display: inline-block;
        height: 3em;
        width: 1.5em;
        text-align: center;
        cursor: pointer;
    }

    .search-terms {
        position: absolute;
        left: 0;
        right: 0;
        // top: 2.15em; // responsive
        overflow: hidden;
        // padding: @header-border-width; // responsive
        font-size: 1.4rem;
        line-height: 1.4rem;
        background-color: transparent;
        border: none;
        .opacity(0);
        .transform(scaleY(0));
        .transform-origin(top);
        //.transition(all 0.2s ease);

        .form-control {
            width: 100%;
            padding: 0.2rem 0.4rem 0.1rem;
            text-align: center;
            border-bottom-style: solid;
        }

    }

    &.expanded {

        .nav-item {
            border-bottom-color: @primary-1;
        }

        .search-terms {
            background-color: @color-bg-header-bottom;
            .opacity(1);
            .transform(scaleY(1));
            .transform-origin(top);
        }
    }
}


// -- responsive

@media (max-width: @screen-nano-max) {
    .nav-search {
        .search-terms {
            top: 2.15em;
            padding: @header-border-width;
        }
    }
}

@media (min-width: @screen-xs-min) {
    .nav-search {
        .search-terms {
            top: 3.75em;
            padding: @header-border-width-xs-min;
        }
    }
}

@media (min-width: @screen-sm-min) {
    .nav-search {
        .search-terms {
            top: 3.2em;
            padding: @header-border-width-sm-min;
        }
    }
}

@media (min-width: @screen-md-min) {
    .nav-search {
        .search-terms {
            top: 3.75em;
            padding: @header-border-width-md-min;
        }
    }
}

@media (min-width: @screen-lg-min) {
    .nav-search {
        .search-terms {
            top: 3.75em;
            padding: @header-border-width-lg-min;
        }
    }
}